body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Cambia el color de fondo del cuerpo */
    color: #333; /* Cambia el color del texto */
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff; /* Cambia el color de fondo del contenedor */
    border-radius: 10px; /* Añade esquinas redondeadas al contenedor */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Añade sombra al contenedor */
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555; /* Cambia el color del texto de las etiquetas */
}

input[type="text"],
select,
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9; /* Cambia el color de fondo de los campos de entrada */
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3; /* Cambia el color de fondo del botón cuando pasas el mouse sobre él */
}

.error {
    color: red;
    font-size: 12px;
}

.error-field {
    border-color: red;
}

.review-item {
    background-color: #fafafa; /* Cambia el color de fondo de los elementos de reseña */
    border: 1px solid #ddd; /* Añade un borde a los elementos de reseña */
    border-radius: 4px; /* Añade esquinas redondeadas a los elementos de reseña */
    padding: 10px;
    margin-bottom: 20px;
}

.review-item h3 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #007bff; /* Cambia el color del título de la reseña */
}
